# Database
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_DATABASE=study5
DATABASE_URL="postgresql://postgres:123456@localhost:5433/study5?schema=public"

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=7d
